.life {
    grid-area: l;
    display: flex;
    justify-content: center;
    align-items: center;
}

.life img {
    width: 5.5vw;
    margin: 0 1vw 0 0;
}

.life_smallWidth {
    grid-area: l;
    display: flex;
    justify-content: center;
    align-items: center;
}

.life_smallWidth img {
    width: 9vw;
    margin: 2vw 1vw 0 0;
}

.containerImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
