.controlButtons {
    grid-area: c;
    display: grid;
    grid-template-areas:
    'u u u'
    'l st r'
    'd d d';
    grid-template-columns: 10fr 1fr 10fr;
    justify-items: center;
    grid-gap: 1vw;
}

.left {
    grid-area: l;
    justify-self: end;
}

.right {
    grid-area: r;
    justify-self: start;
}

.up {
    grid-area: u;
}

.down {
    grid-area: d;
}

.startStop {
    grid-area: st;
}

.controlButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    border-radius: 10vw;
    background-color: #efe978;
    cursor: grab;
}

.controlButtons button:active {
    cursor: grabbing;
}

.controlButtons img {
    width: 3vw;
    border-radius: 10vw;
}

.controlButtons_smallWidth button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    border-radius: 10vw;
    background-color: #efe978;
    cursor: grab;
}

.controlButtons_smallWidth img {
    width: 7vw;
    border-radius: 10vw;
}

.controlButtons_smallWidth {
    display: grid;
    grid-template-areas:
    'u u u'
    'l st r'
    'd d d';
    grid-template-columns: 10fr 1fr 10fr;
    justify-items: center;
    grid-gap: 1vw;
}