.header {
    color: #CD7F32FF;
}

.positions {
    display: flex;
    gap: 3vw;
}

.life img {
    width: 3vw;
    margin: 1.5vw 1vw 0 0.5vw;
}

.length {
    /* сверху | справа | снизу | слева */
    margin: 1vw 0 0 16vw;
}