.header {
    grid-area: h;
    background: #efe978; /*f0e96d*/
    color: rgba(205, 127, 50, 0.51);
}

.positions {
    display: flex;
    gap: 3vw;
}

.life img {
    width: 3vw;
    margin: 1.5vw 1vw 0 0.5vw;
}

.nameApp {
    /*margin-top: 0.5vw;*/
    font-size: 4.5vw;
}

.length {
    /* сверху | справа | снизу | слева */
    margin: 1vw 0 0 16vw;
}