.header {
    grid-area: h;
    background: #240935;
    color: #ffffff;
}

.positions {  /*сделать grid разбить на фракции? или flex-grow?*/
    display: flex;
    justify-content: space-between;
}

.life img {
    width: 4vw;
}