.length {
    color: #125C13;
    cursor: default;
    grid-area: ls;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5vw 0 0 0;
}

.text {
    font-size: 5.7vw;
}

.number {
    font-size: 9vw;
}