.gameArea {
    background: #efe978;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collision {
    display: none;
}

.footer {
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: grid;
    grid-template-areas:
    'l c ls';
    grid-template-columns: 10fr 3.5fr 10fr;
    /*grid-gap: 1vw;*/
}