.gameArea {
    grid-area: g;
    background: darkgreen;
}

.canvas {

}

.controlButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collision {
    display: none;
}