.gameArea {
    background: #efe978;
    height: 100vh;
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;*/
    display: grid;
    grid-template-areas:
    'g'
    'f';
    grid-template-rows: 3.7fr 1fr; /*2 1*/
    align-items: center;
    grid-area: g;
}

.collision {
    display: none;
}

.footer {
    grid-area: f;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: grid;
    grid-template-areas:
    'l c ls';
    grid-template-columns: 10fr 3.5fr 10fr;
    /*grid-gap: 1vw;*/
}